# ===============================
# APPLICATION
# ===============================
APP_NAME=saas
SPRING_PROFILE=dev

# ===============================
# DATABASE
# ===============================
DB_HOST=localhost
DB_PORT=3306
DB_NAME=saas_db
DB_USER=root
DB_PASSWORD=TU_PASSWORD_LOCAL

# ===============================
# JPA
# ===============================
JPA_DDL=update
JPA_SHOW_SQL=true