// src/components/00-base/01-colors/_colors-vars.scss

// Colores principales
$purple-01: #A259FF;
$blue-01: #005de0;
$blue-02: #5692e6;

// Neutros
$white: #ffffff;
$gray-light: #e0e0e0;
$gray: #333333;
$black: #2B2B2B;

// Estados
$warning-01: #f9fb93;
$error-01: #fbe3e4;
$success-01: #cfefc2;